# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files (DO NOT upload 3M row parquet)
data/raw/*
data/processed/*

# OS files
.DS_Store
Thumbs.db